h1,h2,h3{
    font-size: 125%;
}
.git-commands {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    color: #1b1b32;
    font-size: 1.4rem;
    line-height: 1.5em;
    background: #ececf1;
}
